<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  
</head>
<body>
  {% if hungry %}
    <div>haha</div>
  {% else %}
    <div>nihao</div>
  {% endif%}
</body>
</html>
